<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Noleggio Attrezzatura</title>
  <link href="http://fonts.googleapis.com/css?family=Fauna+One:400,400|Yanone+Kaffeesatz:200|Kite+One:400|Ubuntu:300," rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/noleggio-grid.css">
  <link rel="stylesheet" href="css/noleggio.css">
</head>
<body class="body page-noleggio clearfix">
  <div class="centrovelicostyle centrovelicoinsidestyle element element-1"></div>
  <p class="centrovelicostyle centrovelicoinsidestyle text text-1"><span><b>PRENOTA NOLEGGIO</b></span></p>
  <p class="centrovelicostyle centrovelicoinsidestyle text text-2">Di seguito potrai prenotare l'attrezzatura per la tua uscita al lago. Compila subito i campi sottostanti!&nbsp;</p>
  <div class="container container-1 clearfix">
    <p class="centrovelicostyle centrovelicoinsidestyle text text-3"><b>Data Noleggio:</b></p>
    <div class="wrapper wrapper-1"><input id="noloDate" type="date" value="31-02-2018"> </div>
    <p class="centrovelicostyle centrovelicoinsidestyle text text-4"><b>Cliente:</b></p>
    <div class="wrapper wrapper-2"><text> Mario Rossi </text></div>
  </div>
  <div class="container container-2 clearfix">
    <p class="centrovelicostyle centrovelicoinsidestyle text text-5">FASCE ORARIE DISPONIBILI:</p>
    <div class="wrapper wrapper-3"><style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;width:100%}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-amwm">Orari</th>
    <th class="tg-amwm">Barche Disponibili</th>
    <th class="tg-amwm">Canoe Disponibili</th>
    <th class="tg-amwm">Windsurf Disponibili</th>
    <th class="tg-amwm">Sup Disponibili</th>
  </tr>
  <tr>
    <td class="tg-baqh">9:00 - 10:00</td>
    <td class="tg-baqh">	2</td>
    <td class="tg-baqh">6</td>
    <td class="tg-baqh">4</td>
    <td class="tg-baqh">1</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
</table></div>
    <button class="centrovelicostyle centrovelicoinsidestyle _button _button-1">Seleziona</button>
  </div>
  <div class="centrovelicostyle centrovelicoinsidestyle container container-3 clearfix">
    <p class="centrovelicostyle centrovelicoinsidestyle text text-6">FILTRI</p>
    <div class="centrovelicostyle centrovelicoinsidestyle element element-2"></div>
    <p class="centrovelicostyle centrovelicoinsidestyle text text-7"><b>Ora Inizio:</b></p>
    <div class="centrovelicostyle centrovelicoinsidestyle wrapper wrapper-4"><input id="noloDateFrom" type="time" value="9:00"> </div>
    <p class="centrovelicostyle centrovelicoinsidestyle text text-8"><b>Ora Fine:</b></p>
    <div class="wrapper wrapper-5"><input id="noloDateTo" type="time" value="9:00"> </div>
    <button class="centrovelicostyle centrovelicoinsidestyle _button _button-2">Filtra</button>
  </div>
  <div class="container container-4 clearfix">
    <p class="centrovelicostyle centrovelicoinsidestyle text text-9">AGGIUNTA ATTREZZATURA</p>
    <div class="element element-3"></div>
    <div class="container clearfix">
      <label class="checkbox-label checkbox-label-1 clearfix">
        <input class="checkbox" type="checkbox">
        <span class="point-text">Barca</span>
      </label>
      <p class="text text-10">Persone</p>
      <select class="_select _select-1" name="Quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <button class="_button _button-3">Aggiungi</button>
      <label class="checkbox-label checkbox-label-2 clearfix">
        <input class="checkbox" type="checkbox">
        <span class="point-text">Canoa</span>
      </label>
      <p class="text text-11">Persone</p>
      <select class="_select _select-2" name="Quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <button class="_button _button-4">Aggiungi</button>
      <label class="checkbox-label checkbox-label-3 clearfix">
        <input class="checkbox" type="checkbox">
        <span class="point-text">Windsurf</span>
      </label>
      <button class="_button _button-5">Aggiungi</button>
      <label class="checkbox-label checkbox-label-4 clearfix">
        <input class="checkbox" type="checkbox">
        <span class="point-text">Sup</span>
      </label>
      <button class="_button _button-6">Aggiungi</button>
    </div>
  </div>
  <div class="container container-6 clearfix">
    <p class="centrovelicostyle centrovelicoinsidestyle text text-12">RIEPLOGO:</p>
    <div class="wrapper wrapper-6"></div>
    <div class="element element-4"></div>
    <p class="centrovelicostyle centrovelicoinsidestyle text text-13">TOTALE:</p>
    <div class="wrapper wrapper-7"></div>
  </div>
  <button onClick="window.location='homecliente.html';" class="centrovelicostyle centrovelicoinsidestyle _button _button-7">Annulla</button>
  <button onClick="window.location='homecliente.html';" class="centrovelicostyle centrovelicoinsidestyle _button _button-8">Conferma</button>
</body>
</html>